head
    title EventStories
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")


nav
    .navbar.navbar-dark.bg-dark.navbar-expand-sm

        a(href="/").navbar-brand EventStories
        .collapse.navbar-collapse
            ul.navbar-nav.ml-auto
                if user
                    li.nav-item
                        a(href='#').nav-link Logged in as #{user.username}
                    li.nav-item
                        a(href="/logout").nav-link Log Out
                else if !user
                    li.nav-item
                        a(href="/login").nav-link Login
                    li.nav-item
                        a(href="/register").nav-link Sign Up
                    
