extends ../landing

block content
    .container
        .mt-5
            h2(style="text-align: center;") Post comment to #{event.name}
        div(style="width: 45%;").mx-auto.mt-4
            form(action="/events/" + #{event._id} + "/comments/" method="post")
                .form-group.row
                    label(for="text").col-sm-2.col-form-label Text
                    .col-sm-10
                        input(placeholder="Enter text" id="text" type="text" name="comment[text]" autofocus).form-control
                .form-group.row   
                    label(for="author").col-sm-2.col-form-label Author
                    .col-sm-10
                        input(placeholder="Enter author" id="author" type="text" name="comment[author]").form-control
                .form-group
                    button(type="submit").btn.btn-lg.btn-primary.btn-block Submit
            a(href="/events") Go back  
