extends landing

block content
    .container
        .mt-5
            h2(style="text-align: center;") Create a new event
        div(style="width: 30%;").mx-auto.mt-4
            form(action="/events" method="post")
                .form-group.row
                    label(for="event").col-sm-2.col-form-label Event
                    .col-sm-10
                        input(id="event" type="text" name="eventName" autofocus).form-control
                .form-group.row   
                    label(for="url").col-sm-2.col-form-label Image
                    .col-sm-10
                        input(id="url" type="text" name="eventImage").form-control
                .form-group
                    button(type="submit").btn.btn-lg.btn-primary.btn-block Submit
            a(href="/events") Go back  


